<div class="login-header">
  <h1> Reset Password </h1>
</div>
    <% if flash[:confirmation_error] %>
        <p  class="errors"> <%= flash[:confirmation_error]%></p>
    <% end%>
      <% if flash[:alert] %>
        <p  class="errors"> <%= flash[:alert]%></p>
    <% end%>
<%= form_with model: @user, url: password_reset_path(params[:id]), method: :patch, class: "create-form register-form password-change-form" ,local: true do |form| %>
  <table class="">
 <tr>
  <td>
     <%= form.label :password, "Password:" %>
  
  </td>
  <td>
    <input type="password" name="user[password]" id="password">
         <% if flash[:password_validation_errors] %>
            <p class="validation-error"> <%= flash[:password_validation_errors]%></p>
        <% end%>
  </td>
 </tr>
   <tr>
  <td>
 <%= form.label :password_confirmation, "Password Confirmation:" %>

  </td>
  <td>
      <input type="password" name="user[password_confirmation]" id="password_confirmation">
            <% if flash[:confirm_password_validation_errors] %>
            <p class="validation-error"> <%=  flash[:confirm_password_validation_errors]%></p>
        <% end%>
  </td>
 </tr>
  
  <tr>
  <td>
  </td>
  <td>
  <div class="input-group register-btn-group">
     <%= form.submit 'Update Password', class: "register-btn password-change-btn" %>
 </div>
  </td>
  </tr>
 </table>
 
<% end %>
