<div class="login-header">
  <h1> Reset Password </h1>
</div>
    <% if flash[:notice] %>
      <%  flash[:notice].each do |error| %>
        <p  class="validation-error"> <%= error%></p>
      <% end %>
    <% end%>
<%= form_with model: @user, url: password_reset_path(params[:id]), method: :patch, class: "create-form register-form password-change-form" ,local: true do |form| %>
  <table class="">
 <tr>
  <td>
     <%= form.label :password, "Password:" %>
  
  </td>
  <td>
    <input type="password" name="user[password]" id="password">
         <% if flash[:password] %>
            <p class="validation-error"> <%= flash[:password]%></p>
        <% end%>
     <% if flash[:incorrect_password] %>
        <p  class="validation-error"> <%= flash[:incorrect_password]%></p>
        <% end%>
  </td>
 </tr>
   <tr>
  <td>
 <%= form.label :password_confirmation, "Password Confirmation:" %>

  </td>
  <td>
      <input type="password" name="user[password_confirmation]" id="password_confirmation">
            <% if flash[:password_confirmation] %>
            <p class="validation-error"> <%= flash[:password_confirmation]%></p>
        <% end%>
          <% if flash[:confirmation_error] %>
            <p class="validation-error"> <%= flash[:confirmation_error]%></p>
        <% end%>
  </td>
 </tr>
  
  <tr>
  <td>
  </td>
  <td>
  <div class="input-group register-btn-group">
     <%= form.submit 'Update Password', class: "register-btn password-change-btn" %>
 </div>
  </td>
  </tr>
 </table>
 
<% end %>
