
<div class="login-header">
  <h1> Forget Password?</h1>
</div>
    <% if flash[:alert] %>
    <p  class="errors"> <%= flash[:alert]%></p>
    <% end%>
    <% if flash[:notice] %>
      <p  class="errors"> <%= flash[:notice]%></p>
    <% end%>
<%= form_with model: @user, url: password_resets_path(@user), method: :post, class: "create-form register-form password-change-form" ,local: true do |form| %>
  <table class="">
 <tr>
  <td>
     <%= form.label :email, "Email:" %>
  
  </td>
  <td>
  <input type="text" name="user[email]" id="email">
         <% if flash[:email_validation_errors]%>
            <p class="validation-error"> <%= flash[:email_validation_errors]%></p>
        <% end%>
  </td>
 </tr>
  
  <tr>
  <td>
  </td>
  <td>
  <div class="input-group register-btn-group">
     <%= form.submit 'Reset Password', class: "register-btn password-change-btn" %>
 </div>
  </td>
  </tr>
 </table>
 
<% end %>