<%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
<%= render partial: "layouts/header" %>
<div class="login-header">
  <h1> Register Confirm </h1>
</div>

<div>
  <% if flash[:register_errors] %>
    <% flash[:register_errors].each do |error| %>
      <p class="errors"> <%= error%></p>
    <% end %>
  <% end%>
</div>
<%= form_with(model: @user, url: "/user/register", method: :post, html: { class: 'register-form user-register', multipart: true }) do |form| %>
<table class="">
 <tr>
  <td>
    <label> Name </label>
  </td>
  <td>
      <%= form.text_field :name, value: @user.name, readonly: true%>
       <% @user.errors.full_messages_for(:name).each do |message| %>
      <div class="validation-error"><%= message %></div>
      <% end %>
  </td>
 </tr>
  <tr>
  <td>
    <label> E-Mail Address </label>
  </td>
  <td>
    <input type="text"  name="user[email]" value="<%= @user.email%>" readonly>

      <% if @user.errors.any? %>
  <% if error = @user.errors.full_messages_for(:email).first %>
    <div class="validation-error"><%= error %></div>
  <% end %>
<% end %>
  </td>
 </tr>
  <tr>
  <label>
  <td>
    <label> Password </label>
  </td>
  <td>
    <input type="password"  name="user[password]" value="<%= @user.password %>" readonly>
         <% if @user.errors.any? %>
  <% if error = @user.errors.full_messages_for(:password).first %>
    <div class="validation-error"><%= error %></div>
  <% end %>
<% end %>
  </td>
 </tr>
  <tr>
  <td>
    <label> Password confirmation </label>
  </td>
  <td>
    <%= form.password_field :password_confirmation, value: @user.password_confirmation, readonly: true %>
       <% if @user.errors.any? %>
  <% if error = @user.errors.full_messages_for(:password_confirmation).second %>
    <div class="validation-error"><%= error %></div>
  <% end %>
<% end %>

  </td>
 </tr>
  <tr>
  <td>
    <label for="type"> Type </label>
  </td>
  <td>
    <input type="text" value="<%= @user.role %>" readonly>
  </td>
 </tr>
  <tr>
  <td>
    <label> Phone </label>
  </td>
  <td>
    <input type="text"  name="user[phone]" value="<%= @user.phone%>" readonly>
  </td>
 </tr>
  <tr>
  <td>
    <label> Date of birth </label>
  </td>
  <td>
    <input type="type"  name="user[dob]" value="<%= @user.dob%>" readonly>
  </td>
 </tr>
  <tr>
  <td>
    <label>Address </label>
  </td>
  <td>
  <textarea name="user[address]" id="" cols="48" rows="5" readonly><%= @user.address%></textarea>
  </td>
 </tr>
  <tr>
  <td>
    <label> Profile </label>
  </td>
  <td>
    <%= image_tag ("/assets/#{@file_name}"), class: "img-responsive"%>
     <% @user.errors.full_messages_for(:profile).each do |message| %>
      <div class="validation-error"><%= message %></div>
      <% end %>
   <input type="text" name="user[profile]" id="" value="<%=@user.profile%>">
  </td>
 </tr>
  <tr>
  <td>
  </td>
  <td>
  <div class="input-group register-btn-group">
   <button type="submit" class="register-btn">Confirm</button>
<%= link_to "Cancel", user_cancle_path(name: URI.encode_www_form_component(@file_name.split(/\.\w+$/)[0])), class: "clear-btn user-clear-btn" %>
 </div>
  </td>
  </tr>
 </table>
<%end%>
   <%= render partial: "layouts/footer" %>