<%= render partial: "layouts/header" %>
<div class="login-header">
  <h1> Register </h1>
</div>

<div>
  <% if flash[:register_errors] %>
    <% flash[:register_errors].each do |error| %>
      <p class="errors"> <%= error%></p>
    <% end %>
  <% end%>
</div>
<%= form_with(model: @user, url: "/user/registerConfirm", method: :post, html: { class: 'register-form user-register' , multipart: true}) do |form| %>
<table class="">
 <tr>
  <td>
    <label> Name </label>
  </td>
  <td>
      <%= form.text_field :name %>
       <% @user.errors.full_messages_for(:name).each do |message| %>
      <div class="validation-error"><%= message %></div>
      <% end %>
  </td>
 </tr>
  <tr>
  <td>
    <label> E-Mail Address </label>
  </td>
  <td>
    <input type="text"  name="user[email]">

      <% if @user.errors.any? %>
  <% if error = @user.errors.full_messages_for(:email).first %>
    <div class="validation-error"><%= error %></div>
  <% end %>
<% end %>
  </td>
 </tr>
  <tr>
  <label>
  <td>
    <label> Password </label>
  </td>
  <td>
    <input type="password"  name="user[password]">
         <% if @user.errors.any? %>
  <% if error = @user.errors.full_messages_for(:password).first %>
    <div class="validation-error"><%= error %></div>
  <% end %>
<% end %>
  </td>
 </tr>
  <tr>
  <td>
    <label> Password confirmation </label>
  </td>
  <td>
    <%= form.password_field :password_confirmation %>
       <% if @user.errors.any? %>
  <% if error = @user.errors.full_messages_for(:password_confirmation).second %>
    <div class="validation-error"><%= error %></div>
  <% end %>
<% end %>

  </td>
 </tr>
  <tr>
  <td>
    <label for="type"> Type </label>
  </td>
  <td>
  <select name="user[role]" id="type">
    <option value="1">Admin</option>
    <option value="0">User</option>
  </select>
  </td>
 </tr>
  <tr>
  <td>
    <label> Phone </label>
  </td>
  <td>
    <input type="text"  name="user[phone]">
  </td>
 </tr>
  <tr>
  <td>
    <label> Date of birth </label>
  </td>
  <td>
    <input type="date"  name="user[dob]">
  </td>
 </tr>
  <tr>
  <td>
    <label>Address </label>
  </td>
  <td>
  <textarea name="user[address]" id="" cols="48" rows="5"></textarea>
  </td>
 </tr>
  <tr>
  <td>
    <label> Profile </label>
  </td>
  <td>

    <%= form.file_field :profile, class: "user-profile"%>
     <% @user.errors.full_messages_for(:profile).each do |message| %>
      <div class="validation-error"><%= message %></div>
      <% end %>
   
  </td>
 </tr>
  <tr>
  <td>
  </td>
  <td>
  <div class="input-group register-btn-group">
   <button type="submit" class="register-btn">Register</button>
    <button type="reset" class="clear-btn user-clear-btn">Clear</button>
 </div>
  </td>
  </tr>
 </table>
<%end%>
   <%= render partial: "layouts/footer" %>