<%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
<%= javascript_include_tag 'app' %>
<!-- The Modal -->
<div id="detail-modal_<%= post.id%>" class="myModal">
  <!-- Modal content -->
  <div class="modal-content">

    <div class="modal-content-right">

      <div class="modal-header">
        <p>Post Detail</p>
        <span class="close" data_id="<%= post.id%>">&times;</span>
      </div>

      <div class="modal-body">
          <table style="border: 0;"  class="modal-table">
            <tr>
              <td>Title</td>
              <td><%= post.title %></td>
            </tr>
                  <tr>
              <td>Description</td>
              <td><%= post.description %></td>
            </tr>
             <tr>
              <td>Status</td>
              <td><%= "active" if post.status %></td>
            </tr>
             <tr>
              <td>Created Date</td>
              <td><%= post.created_at.strftime("%Y/%m/%d") %></td>
            </tr>
                  <tr>
              <td>Created User</td>
              <td><%= post.user.name %></td>
            </tr>
            <tr>
              <td>Updated Date</td>
              <td><%= post.updated_at.strftime("%Y/%m/%d") %></td>
            </tr>
                  <tr>
              <td>Updated User</td>
              <td><%= post.user.name%></td>
            </tr>
          </table>
      </div>

      <div class="modal-footer clearfix">
          <button class="close clear-btn detail-close">Close </button>
      </div>

    </div>
  </div>
</div><!-- END the modal -->