<%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
<%= javascript_include_tag 'app' %>
<!-- The Modal -->
<div id="detail-modal" class="myModal">
  <!-- Modal content -->
  <div class="modal-content">

    <div class="modal-content-right">

      <div class="modal-header">
        <p>Post Detail</p>
        <span id="close">&times;</span>
      </div>

      <div class="modal-body">
          <table style="border: 0;">
            <tr>
              <td>Title:</td>
              <td><%= post.title %></td>
            </tr>
                  <tr>
              <td>Description:</td>
              <td><%= post.description %></td>
            </tr>
                  <tr>
              <td>User:</td>
              <td><%= post.user.name %></td>
            </tr>
                  <tr>
              <td>Date:</td>
              <td><%= post.created_at %></td>
            </tr>
          </table>
      </div>

      <div class="modal-footer">
     
      </div>

    </div>
  </div>
</div><!-- END the modal -->