

<%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
<div class="login-header">
  <h1> Edit Post </h1>
</div>

<div>
  <% if flash[:register_errors] %>
    <% flash[:register_errors].each do |error| %>
      <p class="errors"> <%= error%></p>
    <% end %>
  <% end%>
</div>
<form action = "/posts-edit-confirm" method = "GET" class="create-form register-form"> 
 <input type = "hidden" name ="authenticity_token" value="<%= form_authenticity_token %>">
 <input type ="hidden" name ="post[id]" value="<%= @post.id%>">
 <table class="">
 <tr>
  <td>
    <label> Title: </label>
  </td>
  <td>
    <input type="text"  name="post[title]" value="<%= @post.title%>" >
    <% if flash[:post_title_errors] %>
    <%  flash[:post_title_errors].each do |error| %>
      <p  class="validation-error"> <%= error%></p>
    <% end %>
  <% end%>
  </td>
 </tr>
  <tr>
  <td>
    <label> Description: </label>
  </td>
  <td>
     <textarea name="post[description]" rows="10" cols="50"><%= @post.description%></textarea>
           <% if flash[:post_description_errors] %>
    <%  flash[:post_description_errors].each do |error| %>
      <p  class="validation-error"> <%= error%></p>
    <% end %>
  <% end%>
  </td>
 </tr>
  <tr>
  <td>
    <label> Status: </label>
    
  </td>
  <td>
    <div class="input-group">
    <label class="switch">
        <% if @post.status == 1 %>
            <input type="checkbox" name="post[status]" checked>
        <% else%>
            <input type="checkbox" name="post[status]">
        <% end %>
        <span class="slider round"></span>
    </label>
    </div>
  </td>
 </tr>
  <tr>
  <td>
  </td>
  <td>
  <div class="input-group register-btn-group">
   <button type="submit" class="register-btn">Edit</button>
    <button type="reset" class="clear-btn">Clear</button>
 </div>
  </td>
  </tr>
 </table>
 
  
</form>