

<%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
<div class="login-header">
  <h1> Create Post </h1>
</div>

<div>
  <% if flash[:register_errors] %>
    <% flash[:register_errors].each do |error| %>
      <p class="errors"> <%= error%></p>
    <% end %>
  <% end%>
</div>
<form action = "/posts-confirm" method = "GET" class="create-form register-form"> 
 <input type = "hidden" name ="authenticity_token" value="<%= form_authenticity_token %>">
 <table class="">
 <tr>
  <td>
    <label> Title: </label>
  </td>
  <td>
    <input type="text"  name="post[title]" value="<%= @post.title%>" >
    <% if flash[:post_title_errors] %>
      <%  flash[:post_title_errors].each do |error| %>
        <p  class="validation-error"> <%= error%></p>
      <% end %>
    <% end%>
  </td>
 </tr>
  <tr>
  <td>
    <label> Description: </label>
  </td>
  <td>
     <textarea name="post[description]" rows="4" cols="50"><%= @post.description%></textarea>
    <% if flash[:post_description_errors] %>
      <%  flash[:post_description_errors].each do |error| %>
        <p  class="validation-error"> <%= error%></p>
      <% end %>
    <% end%>
  </td>
 </tr>
  
  <tr>
  <td>
  </td>
  <td>
  <div class="input-group register-btn-group">
   <button type="submit" class="register-btn">Create</button>
    <button type="reset" class="clear-btn">Clear</button>
 </div>
  </td>
  </tr>
 </table>
 
  
</form>